@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff42a5;
  --secondary-color: #4ec5f7;
  --purple-color: #8758f1;
  /* F948B2 */
}

body {
  font-family: "Work Sans", sans-serif;
}

/* Shared styles */
.container {
  max-width: 80%;
  margin: auto;
}

.d-flex {
  display: flex;
  align-items: center;
}

.btn {
    padding: 1rem 3rem;
    border: none;
    /* background: none; */
    border-radius: 50px;
    color: white;
    margin-right: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

/* Navbar */
.brand-logo {
  flex-direction: column;
  padding: 2rem 0;
}

.logo-img {
  width: 30%;
  height: 30%;
}

.logo-text {
  font-size: 2rem;
  margin-left: 1rem;
}

.logo-text span {
  color: var(--primary-color);
}

.logo-items ul {
  list-style: none;
  text-align: center;
  margin: 3rem 0;
}

.logo-item {
  margin: 2rem 0;
}

.logo-item a {
  text-decoration: none;
  color: black;
  text-shadow: 0px 2px 2px #808080c4;
}

.logo-items ul li:nth-child(3) {
  background: #3c354f17;
  padding: 1rem 3rem;
  border-radius: 5px;
}

/* banner */
.banner .container {
    flex-direction: column;
}

.banner-content-right {
    background: url(../images/banner-bg.png) no-repeat center;
    height: 100vh;
    width: 100vw;
    padding: 4rem 0;
    position: relative;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.banner-content h3 {
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px #808080c4;
    text-align: center;
}

.banner h2 {
    font-size: 4rem;
    margin: 1rem 0;
    text-align: center;
    background: -webkit-linear-gradient(var(--primary-color), var(--purple-color));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.banner-items {
    list-style: none;
}

.banner-item {
    margin: 1rem 0;
}

.banner-item i {
    color: var(--primary-color);

}

.btn-group {
    margin-top: 2rem;
}

.btn-group button:nth-child(1) {
    background: var(--primary-color);
}

.btn-group button:nth-child(2) {
    background: var(--secondary-color);
}