@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff42a5;
  --secondary-color: #4ec5f7;
  --purple-color: #8758f1;
  --grey-color: #534c64;
  --dark-color: #0b0223;
}

body {
  font-family: "Work Sans", sans-serif;
}

section {
  margin: 7rem 0;
}

img {
  height: 100%;
  width: 100%;
}

/* Shared styles */
.container {
  max-width: 80%;
  margin: auto;
}

.d-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.btn {
  padding: 1rem;
  width: 60%;
  border: none;
  /* background: none; */
  border-radius: 50px;
  color: white;
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.gradient-title {
  font-size: 2rem;
  background: -webkit-linear-gradient(
    var(--primary-color),
    var(--purple-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-text {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--grey-color);
  margin: 1rem 0;
}

.text-center {
  text-align: center;
}

/* Navbar */
.brand-logo {
  /* flex-direction: column; */
  padding: 2rem 0;
}

.logo-img {
  width: 30%;
  height: 30%;
}

.logo-text {
  font-size: 2rem;
  margin-left: 1rem;
}

.logo-text span {
  color: var(--primary-color);
}

.logo-items ul {
  list-style: none;
  text-align: center;
  margin: 1rem 0;
}

.logo-item {
  margin: 2rem 0;
}

.logo-item a {
  text-decoration: none;
  color: black;
  text-shadow: 0px 2px 2px #808080c4;
}

.logo-items ul li:nth-child(3) {
  background: #3c354f17;
  padding: 1rem 3rem;
  border-radius: 5px;
}

/* banner */
/* .banner .container {
  flex-direction: column;
} */

.banner-content-left img {
  width: 100%;
  height: 100%;
}

.banner-content-right {
  background: url(../images/banner-bg.png) no-repeat center;
  height: 55vh;
  width: 100vw;
  padding: 4rem 0;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-20%, -50%);
}

.banner-content h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px #808080c4;
  text-align: center;
}

.banner h2 {
  font-size: 3rem;
  margin: 1rem 0;
  text-align: center;
}

.banner-items {
  list-style: none;
}

.banner-item {
  margin: 1rem 0;
  text-align: center;
}

.banner-item i {
  color: var(--primary-color);
}

.btn-group {
  margin-top: 2rem;
  display: flex;
  gap: .5rem;
}

.btn-group .btn {
  margin: 0.5rem 0;
}

.btn-group button:nth-child(1) {
  background: var(--primary-color);
}

.btn-group button:nth-child(2) {
  background: var(--secondary-color);
}

/* about */
.about-col-left {
  text-align: center;
}

.about-col-left p {
  color: var(--grey-color);
  line-height: 1.5rem;
  font-size: .9rem;
  margin: 1.5rem 0;
}

.about-col-left button {
  background: var(--primary-color);
}

.about-quote {
  margin: 2rem 0;
}

.about-quote q {
  margin: 1rem 0;
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--grey-color);
}

/* collection */
.collection-title {
  text-align: center;
}

.collection-title h2 {
  font-size: 2rem;
}

.collection-items {
  margin-top: 4rem;
}

.collection-col img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.collection-col p {
  text-align: center;
}

.main-img {
  display: flex;
  justify-content: end;
}

.main-img img {
  height: 50%;
  width: 80%;
  position: relative;
}

.first-playground,
.second-playground {
  position: relative;
  /* overflow: hidden;> */
}

.second-playground {
  /* overflow: hidden;  */
  /* ///////////// Primary code remove it */
}

.first-playground .secondary-img {
  position: absolute;
  left: 3rem;
  bottom: -2rem;
}

.secondary-img img {
  height: 40%;
  width: 40%;
}

.second-playground .main-img {
  justify-content: start;
}

.second-playground .secondary-img {
  position: absolute;
  right: -7rem;
  bottom: -2rem;
}

.first-playground .playground-col-sm,
.second-playground .second-playground-col-sm {
  text-align: center;
}

/* careers */
.careers {
  background: var(--primary-color);
  color: #fff;
  padding: 4rem 0;
  margin-bottom: 0;
}

.careers h3 {
  font-size: 2rem;
}

.careers p {
  font-size: 0.8rem;
  margin: 1rem 0;
  line-height: 1.5rem;
}

.careers-list {
  margin-top: 3rem;
}

.career-data {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1rem 0;
}

.career-data li {
  font-size: 0.7rem;
  font-weight: 500;
}

.position-btn {
  background: #fff;
  color: var(--primary-color);
  margin-top: 2.5rem;
}

.careers-img {
  margin-top: 3rem;
}

/* Group */
.group {
  background: #ff42a517;
  margin: 0 !important;
}

.group .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  justify-items: center;
  padding: 4rem 0;
}

.group-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38); */
  padding: .5rem 0;
  width: 18rem;
  border-radius: 8rem;
}

.group-item img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}

.group-item h4 {
  font-size: 18px;
  font-weight: 500;
}

/* footer  */
footer {
  background: var(--dark-color);
  padding: 4rem 0;
  color: white;
}

footer h3 {
  color: white;
}

.footer-list-main,
.footer-social-links,
.footer-list {
  list-style: none;
  display: grid;
  margin: 2rem 0;
  justify-items: center;
}

.footer-list-main,
.footer-social-links {
  grid-template-columns: repeat(2, 1fr);
}

.footer-list-main li,
.footer-social-links li,
.footer-list li {
  margin: .5rem 0;
  cursor: pointer;
}

.footer-social-links li i {
  color: #fff;
  font-size: 2rem;
}

.footer-list {
  grid-template-columns: repeat(1, 1fr);
  color: #ffffff9c;
}

footer p {
  text-align: center;
  line-height: 1.5rem;
}

/* Responsiveness */
@media screen and (min-width: 768px) {
  .gradient-title {
    font-size: 2rem;
  }

  .btn-group {
    display: flex;
    gap: 1rem;
  }

  /* banner */
  .banner .d-flex {
    flex-direction: row-reverse;
  }

  .banner-content h3,
  .banner-content .gradient-title,
  .banner-item {
    text-align: left;
  }

  .btn-group {
    flex-direction: column;
    gap: 0;
  }

  .btn-group .btn {
    width: 50%;
  }

  .about-quote q {
    font-size: 1.3rem;
  }

  .collection-title h2 {
    font-size: 2rem;
  }

  .first-playground .playground-col-sm {
    width: 60%;
  }

  .first-playground .d-flex {
    flex-direction: row;
  }

  .first-playground .secondary-img {
    left: 20rem;
  }

  .second-playground .d-flex {
    flex-direction: row-reverse;
  }

  .second-playground .secondary-img {
    right: 50rem;
  }

  .first-playground .playground-col-sm {
    text-align: right;
  }

  .second-playground .second-playground-col-sm{
    text-align: left;
  }
  
  .group .container {
    grid-template-columns: repeat(2, 1fr);
  }

  footer .container {
    width: 50%;
  }

  footer .d-flex {
    flex-direction: row;
    justify-content: center;
    gap: 0;
  }
  footer .logo-img {
    width: 10%;
  }
  footer .logo-text {
    margin-left: .5rem;
  }

  .footer-social-links {
    width: 50%;
    margin: auto;
  }

  .footer-list-main, .footer-social-links {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-social-links li a  i{
    font-size: 1.3rem;
  }
}

/* Laptop devices */
@media screen and (min-width: 1024px) {
  section {
    margin: 12rem 0;
  }

  .btn {
    width: 30%;
  }

  .d-flex {
    flex-direction: row;
  }

  nav  .brand-logo {
    padding: 0;
  }

  .logo-items ul {
    margin: 0;
  }

  .about-col-left {
    width: 55%;
    text-align: right;
  }

  .collection-col {
    height: 18rem;
    width: 20rem;
  }

  .first-playground .playground-col-sm,
  .second-playground-col-sm  {
    width: 40%;
  }

  .first-playground .secondary-img {
    left: 42rem;
  }

  .secondary-img img {
    width: 70%;
  }

  .second-playground .secondary-img {
    right: 33rem;
  }

  .group .container {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-list-main, .footer-social-links {
    grid-template-columns: repeat(6, 1fr);
  }

  .footer-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-social-links li a  i{
    font-size: 1.8rem;
  }

}